*.pyc
/data/datasets/ds_462700/cache*
data
*.arrow
notebooks/dataset/ds_2_noaugment_test.hf
notebooks/dataset/ds_2_noaugment_big.hf/
.idea
*.pt
*.fedorarog
latest-run
wandb
notebooks/dataset/ds_0-01_melspecto_aug_0-5_balanced_chunked.hf
notebooks/dataset/ds_1_melspecto_noaug_balanced_chunked.hf
notebooks/old/unsupervised/ssl_checkpoints
notebooks/dataset/ds_1_raw_aug_0-5_balanced_chunked.hf
/notebooks/computer_vision/.env
/notebooks/computer_vision/datasets/
audio/old/transformers/drone_detector/
audio/old/computer_vision/drone_vit_checkpoints
audio/old/yolo/spectrograms/
audio/old/yolo/spectrograms
*.hf
local/*
*.pth
vision/datasets
vision/datasets/
.env
vision/runs
vision/runs/