# [TOKENS]
TOKEN_HF=
TOKEN_WANDB=
TOKEN_AWS_KEY_ID=
TOKEN_AWS_SECRET_KEY=

# [DATASET]
DATASET_PATH=./datasets

# [MODELS]
MODEL_DIRECTORY=./models

# [RUNS]
RUNS_DIRECTORY=vision/runs

# [AI]
AI_DEVICE=auto

# [LOGS]
# Log level: DEBUG, INFO, WARNING, ERROR, CRITICAL, NOTSET
LOG_LEVEL="INFO"
LOG_WANDB_ENABLE=False

# [DB]
DB_FILE=benchmarks.db