# [DATASET]
HF_TOKEN=
WANDB_API_KEY=
HF_DATASET_PATH=./datasets
MODEL_DIRECTORY=./models
RUNS_DIRECTORY=vision/runs

# [AI]
AI_DEVICE=auto

# [LOGS]
# Log level: DEBUG, INFO, WARNING, ERROR, CRITICAL, NOTSET
LOG_LEVEL="INFO"
LOG_WANDB_ENABLE=False

# [DB]
DB_FILE=benchmarks.db